<nav class="navbar navbar-expand-lg navbar-dark custom-navbar shadow">

  <div class="container d-flex justify-content-between align-items-center">

    <a class="navbar-brand fw-bold"> Nexo </a>

    <div class="navbar-nav mx-auto">
      <a routerLink="/publicaciones" routerLinkActive="active" class="nav-link"> Publicaciones </a>
      <a routerLink="/perfil" routerLinkActive="active" class="nav-link"> Mi Perfil </a>
    </div>

    <div class="d-flex align-items-center gap-3">
      <img [src]="usuario?.imagenPerfil" width="40" height="40" class="rounded-circle">
      <span class="text-white"> @{{ usuario?.nombreUsuario }} </span>
      <button class="btn btn-outline-light" (click)="logout()"> Salir </button>
    </div>

  </div>

</nav>